<div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4><a href='/post/{{id}}'> {{post_title}} </a></h4>
            </div>
            <p>{{post_content}}</p>
        </div>
    </div>