<div class = "container">
<form class="edit-post-form form-control">

<div class = "row m-2">
    <h4>Title</h4>
    <input name = "post-title" class="form-control" type="text" value = "{{post.post_title}}">
    </div>
    <div class = "row m-2">

        <h4>Post</h4>
    <textarea name = "post-content" class = "form-control"  type="text" value = "{{post.post_content}}"></textarea>
     </div>
     <button type="submit" class = "btn btn-success ">Save post</button>
    <button type="button" id="delete-btn" class="btn btn-danger">Delete post</button>
</div>
    
</form>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
</div>