<div>

<form class = "login-form">
<div>
<label for="username">User Name</label>
<input type = "text" id ="username-login">
</div>
<div>
<label for = "password">Password</label>
<input type = "text" id="password-login">
</div>
<button type="submit">LogIn Up</button>
</form>

<div>
    <p> No Account? 
         <a href ="/signup">signup!</a>
    </p>
</div>

</div>
<script src="/javascript/login.js"></script>