<div class = "container">
     <form class = "mt-3 new-post">
                    <label for="post_title" class="form-label">Title</label>
                    <textarea class = "form-control" id="post_title" rows="1"></textarea>

                    <label for="post_body" class="form-label">Post</label>
                    <textarea class = "form-control" id="post_body" rows="3"></textarea>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>


<script src="javascript/new-post.js"></script>
</div>